* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    font-family: "Sour Gummy", sans-serif;
}
h1 ,button {
    font-family: "Pacifico", cursive;
}
h1{
    font-size: 65px;
    font-weight: 800;
}
button{
    font-size: 50px;
    font-weight: 900;
}
h3{
    font-family: "Merriweather", serif;
    font-size: 25px;
    font-weight: 800;
}
p{
    font-family: "Sour Gummy", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.quotes{
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    object-fit: cover;
}
.quotes .container{
    margin: auto;
    width: 60%;
    
}
.btn-quote{
    padding-top: 100px;
    width: 60%;
    min-height: 50vh;
}
